<div class="container-fluid" >

<div class="row">

  <div class="col-lg-2 mt-5">

    <app-sidebar></app-sidebar>

  </div>

  <div class="col-lg-10" style="margin-top: 80px">
    <h3 class="text-center text-warning mb-3">All Products</h3>
    <div class="row">

  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
    <div class="card h-100">
      <a ><img class="card-img-top" src="{{product.productImg}}" style="width: 350px;height: 300px" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="view-product/{{product.id}}">{{product.productName}}</a>
        </h4>
        <h5>${{product.price}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{product.rating}} stars</small>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<!-- /.row -->

</div>
